apiVersion: batch/v1
kind: Job
metadata:
  name: gold-etl
spec:
  backoffLimit: 3
  template:
    spec:
      serviceAccountName: big-five-pipeline-sa
      restartPolicy: Never
      containers:
        - name: gold-etl
          image: gcr.io/big-five-analytics/big-five-etl:prod-v4
          command: ["python", "gold_etl.py"]
          env:
            - name: GCP_PROJECT
              value: "big-five-analytics"
            - name: DATASET
              value: "big_five_dataset"
            - name: GOLD_TABLE
              value: "gold"
            - name: LOG_LEVEL
              value: "INFO"
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
