@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-200 antialiased;
    background: radial-gradient(circle at top left, #0f172a, #020617);
    font-family: 'Inter', sans-serif;
  }

  /* Smooth scrollbars for the terminal look */
  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700;
  }
}